            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                text-decoration: none;
                list-style: none;
            }
            
            a {
                color: #000;
            }
            
            .container-page {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 100vh;
                align-items: center;
                justify-content: center;
            }
            
            .menu {
                width: 15%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background: rgba(183, 233, 255, 0.432);
            }
            
            .options {
                width: 25%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background: rgba(183, 233, 255, 0.432);
            }
            
            .container {
                width: 60%;
                height: 98%;
                background: orange;
                border-radius: 3rem;
                padding: 1rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            .profile {
                display: inline-block;
                padding: 1rem;
            }
            
            .my-profile .icon {
                width: 4rem;
                height: 4rem;
                border-radius: 1rem;
                background: rgb(102, 222, 255);
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            
            .icon svg {
                width: 3rem;
            }
            
            .section-menu {
                width: 98%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            
            ul {
                width: 90%;
                text-align: center;
            }
            
            ul li {
                background: rgb(99, 166, 255);
                width: 100%;
                height: 3rem;
                margin: 1rem 0;
                border-radius: 0.8rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            
            li:hover {
                background: rgba(99, 167, 255, 0.388);
            }
            
            .welcome-dashboard {
                width: 95%;
                height: 15rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
            }
            
            .welcome-dashboard .text {
                width: 60%;
                padding: 1rem;
                text-align: center;
            }
            
            .button {
                border: none;
                border-radius: 0.8rem;
                padding: 0.8rem;
                background: #f2f2f2;
                cursor: pointer;
                margin: 1rem;
            }
            
            .welcome-dashboard .img {
                width: 40%;
                height: 100%;
                overflow: hidden;
            }
            
            .welcome-dashboard .img img {
                width: 100%;
            }
            /*FORMULARIO PRODUCTO*/
            
            .producto {
                width: 35rem;
                border-radius: 2rem;
                background: #fff5;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: left;
                padding: 1rem;
            }
            
            .producto form {
                width: 95%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
            }
            
            form label {
                width: 100%;
                padding: 0 1rem;
                margin: 0.8rem 0;
            }
            
            form input {
                width: 90%;
                border-radius: 0.8rem;
                border: none;
                height: 2rem;
                margin: 0.8rem 0;
            }
            
            #codigoProducto,
            #selectCat {
                width: 22%;
            }
            
            #category {
                width: 20%;
                border-radius: 0.8rem;
                border: none;
                height: 2rem;
            }
            
            #cant,
            #cantidadProducto {
                width: 20%;
            }
            
            #precio,
            #precioVenta {
                width: 20%;
            }
            
            #imgProducto {
                border-radius: 0.8rem;
                border: none;
                height: 2rem;
            }
            /*FORMULARIO CATEGORIA*/
            
            .categoria {
                width: 20rem;
                background: #fff5;
                padding: 1rem 0.5rem;
                border-radius: 2rem;
            }
            
            .categoria form {
                width: 95%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
            }
            /*FORMULARIO PROVEEDOR*/
            
            .proveedor {
                width: 20rem;
                background: #fff5;
                padding: 1rem 0.5rem;
                border-radius: 2rem;
            }
            
            .proveedor form {
                width: 95%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
            }