* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.container-gral {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section-select_producto {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.info-select {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.8rem 0;
}

.img-producto_select {
    width: 45%;
    height: 100%;
    background: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
}

.img-producto_select img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.info-producto_select {
    width: 45%;
    height: 100%;
    background: rgb(169, 248, 255);
    border-radius: 0 1rem 1rem 0rem;
}

.info-producto_select form {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.name-select {
    font-size: 2rem;
}

.btn-selectProducto {
    width: auto;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background: #f2f2f2;
}

.similar-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.header-similar_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
}

.section-similar_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.card-producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    background: #f2f2f2;
    padding: 0.6rem;
}

.card-producto .image-producto {
    width: 95%;
    height: 15rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    overflow: hidden;
}

.image-producto img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.cad-producto form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cad-producto form button {
    padding: 0.8rem;
    border: none;
    border-radius: 0.8rem;
}

button {
    background: orange;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: none;
    transition: all 300ms;
}

button:hover {
    cursor: pointer;
    background: #5fb2ffe0;
}

.info-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

.categoria-info_text {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    background: yellow;
}

.input-text {
    width: auto;
    font-size: 1em;
}


/*texto del producto*/

.producto-name {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.sub {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0.5rem 0;
    padding: 0.8rem;
}

.info-productos {
    width: 100%;
}

.product {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}