* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aside-categorias {
    width: 20%;
}

.section-productos_store {
    width: 80%;
}

.btn-addCarrito {
    padding: 0.8rem;
    border-radius: 0.8rem;
    background: yellow;
    border: none;
}